.nav--primary .nav__list, .body--subpage .main {
  border: 2px solid $primary;
}

.nav--primary .nav__list {
  border-bottom: 0;
}

.body--subpage .nav--primary .nav__list {
  background: $background;
}

.nav__link:link, .nav__link:visited {
  color: $primary;
}
